
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

	{% load static %}
	<!-- <link rel="stylesheet" href="https://www.sapiezynski.com/mycaptcha/style.css" type="text/css"/> -->
	<link rel="stylesheet" href="static/style.css" type="text/css"/>

	<script>
		const GRID_SIZE = 3;
		const WIDTH = "100%";

		function toggle(elt) {
			if (elt.className == "off") {
				elt.className = "on";
			} else {
				elt.className = "off";
			}
		}

		function populate() {
			const URL_ROOT = "https://www.sapiezynski.com/mycaptcha/"

			const images = ["y001.jpg", "y002.jpg", "y003.jpg",
							"y004.jpg", "y005.jpg", "n001.jpg",
							"n002.jpg", "n003.jpg", "n004.jpg",
							"y006.jpg", "y007.jpg", "y008.jpg"]
			var chosen = Array();

			while (chosen.length < GRID_SIZE * GRID_SIZE) {
				var randElement = images[Math.floor(Math.random() * images.length)]
				if (!chosen.includes(randElement)) {
					chosen.push(randElement);
				}

			}
			console.log(chosen);

			for (var y_idx=0; y_idx < GRID_SIZE; y_idx ++) {
				var tr = document.createElement("tr");

				for (var x_idx=0; x_idx < GRID_SIZE; x_idx ++) {
					var td = document.createElement("td");
					td.setAttribute("class", "off");
					td.setAttribute("onclick", "toggle(this)");

					var img = document.createElement("img");
					img.setAttribute("src", URL_ROOT + chosen[y_idx*GRID_SIZE + x_idx]);
					// img.setAttribute("height", WIDTH);
					// img.setAttribute("width", WIDTH);
					td.appendChild(img);

					tr.appendChild(td);
				}


				document.getElementById("maintab").appendChild(tr);

			}
		}

		function color_captcha() {
			var cells = document.getElementsByTagName("td");

			var correct = 0;

			for (var idx = 0; idx < GRID_SIZE * GRID_SIZE; idx++) {
				var choice = cells[idx].className;
				var truth = cells[idx].firstChild.src.includes("y0");

				if ((choice == "on") && truth || (choice == "off") && !truth) {
					cells[idx].className = "correct";
					correct++;
				} else {
					cells[idx].className = "wrong";
				}

			}
			return correct;
		}


		function verify() {


			var response = "";
			result = false;
			

			var formData = new FormData(formElem);
			covid = formData.get("covid");
			att = formData.get("att");
			if (att == "att_no") {
				response = "You will be missed, thank you for responding!";
				result = true;
			} else if (att == "att_maybe") {
				response = "Please see about it now!";
				result = false;
			} else if (att == "att_yes") {
				if (covid != "on") {
					response = "Please consent to testing or change your RSVP."
					result = false;
				} else {
					response = "Yay! Looking forward to seeing you!";
					result = true;
				}
			} else {
				response = "Please actually RSVP."
			}

			

			document.getElementById("response").innerHTML = response;
			return result;
		}
	</script>
</head>
<body onload="populate()">
	<div id="main">
		<h1>House Warming Party RSVP</h1>
		<p><span id="response"></span></p>
		<form id="formElem">
			<input name="name" placeholder="Your name" type="text"/> <br/>
			<input name="email" placeholder="Your email" type="email" /> <br/>
			<input name="count" placeholder="Party size" type="number"/> <br/>
			<label><input type="radio" id="att_yes" name="att" value="att_yes"> I shall be there.</label>
			<label><input type="radio" id="att_no" name="att" value="att_no"> I shan't.</label>
			<label><input type="radio" id="att_maybe" name="att" value="att_maybe"> I will see about that.</label>

			<p>Despite our best wishes the pandemic is not over. To minimize the chance that this party leads to any harm or even bad memories we ask you to do a rapid test on the day of and only come if you're negative. We will have some tests available if you can't find one in time!</p>
			<label><input type="checkbox" name="covid"> I will test on the day of the party</label>


		
			<div class="captcha">
				<p>To verify you're ready for the Amy St housewarming, please select all images containing an Amy or a Jaimie.</p>
				<table id="maintab">

				</table>
			</div>
			<input type="hidden" name="captcha" id="captcha_comment">

			<p id = "submit"><input type="submit" value="Ready!"></p>
		</form>

		<script>
			formElem.onsubmit = async (e) => {
    		e.preventDefault();
    		window.scrollTo({ top: 0, behavior: 'smooth' });

    		if (verify()) {

			    let response = await fetch('/thanks', {
			      method: 'POST',
			      body: new FormData(formElem)
			    });

			    let result = await response.json();

			    if (result['type'] == 'success') {
			    	document.getElementById("response").className = "correct";

	    			correct_count = color_captcha();
	    			if (correct_count < GRID_SIZE * GRID_SIZE/2) {
						document.getElementById("response").innerHTML += " Also, you'll need to brush up on your (J)Amies!";
					} else {
						document.getElementById("response").innerHTML += " A fellow expert on (J)Amies, I see!";
					}

					document.getElementById("submit").style.visibility = "hidden";
			    	document.getElementById("response").innerHTML += '<p>Your response has been recorded.</p>';
			    } else {
			    	document.getElementById("response").innerHTML += '<p>Error while recording your response: <tt>' + JSON.stringify(result) + '</tt></p>';
			    	document.getElementById("response").className = "wrong";
			    }
			} else {
				document.getElementById("response").className = "wrong";
			}
		  };
		</script>
		

</body>
</html>