{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Hallows Warming Party</title>

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="static/style.css" type="text/css"/>
</head>
<h1>Thanks for your response</h1>

<p>If you'd like, feel free to add some spooky tunes to our spotify playlist <a href="https://open.spotify.com/playlist/2nm0gADB3moJ62X1kb4xMQ?si=6e4ab15592604212&pt=6d4d4382cb8dc9ba431a7e77c05d5e23">here.</a>